__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.so
*.egg
*.egg-info/
*.manifest
*.spec
.eggs/
build/
develop-eggs/
dist/
pip-wheel-metadata/
wheels/
*.log
venv/
env/
ENV/
.venv/
.env/
.ipynb_checkpoints/
.vscode/
.history/
.code-workspace
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
dataset/*.csv
dataset/*.parquet
dataset/*.tmp
*.dat
*.bak
*.db
*.sqlite
*.log
*.out
*.sql~
*.sql.bak
*.sql.tmp
*.sql.log
LocalDB/
*.mdf
*.ldf
outputs/
exports/
results/
reports/
.DS_Store
ehthumbs.db
Icon?
desktop.ini
*.tmp
*.old
*.orig
*.backup
